header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
}

.heading {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.heading img {
  aspect-ratio: 1/1;
  width: 3rem;
  height: 3rem;
  margin-inline: .25rem;
  rotate: 30deg;
  transition: rotate 1s;
}

.heading:hover img {
  rotate: 0deg;
}

@media (max-width: 767px) {
  .heading .heading__text {
    font-size: 1.25rem;
  }
}